.Die {
  font-size: 10em;
  padding: 0.25em;
  color: slateblue;
}

.rolling {
  animation-name: shake;
  animation-duration: 1s;
}

@keyframes shake {
  0% {
    transform: translate(6px, 3px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -6px) rotate(-5deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(6deg);
  }
  30% {
    transform: translate(0px, 6px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -3px) rotate(2deg);
  }
  50% {
    transform: translate(-3px, 6px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 3px) rotate(0deg);
  }
  70% {
    transform: translate(6px, 3px) rotate(-5deg);
  }
  80% {
    transform: translate(-3px, -3px) rotate(4deg);
  }
  90% {
    transform: translate(6px, 6px) rotate(0deg);
  }
  100% {
    transform: translate(3px, -6px) rotate(-2deg);
  }
}
